/**
 *
 * {{properCase name }}
 *
 */

{{#if memo}}
import * as React from 'react';
import { memo } from 'react';
{{else}}
import * as React from 'react';
{{/if}}
interface Props {
  title?: string
}

const {{ properCase name }}: React.FC<Props> = ({ title }) => {
  return (
    <div>
      {title}
    </div>
  );
}

{{#if memo}}
export default memo({{ properCase name }})
{{else}}
export default {{ properCase name }}
{{/if}}